.container {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner {
  width: 100%;
  position: relative;
}
.img {
  border: none;
  outline: none;
  width: 100%;
  object-fit: cover; 
  height: 350px;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 830px;
  margin: 78px 0;
  position: relative;
  padding: 0 15px;
}
.title {
  font-size: 26px;
  padding: 0 10px 10px;
  /* border-bottom: 3px solid #2c8ed9; */
  align-self: center;
  color: #555;
}
.p {
  margin: 16px 0;
}
.article {
  font-size: 14px;
  line-height: 30px;
  text-align: justify;
  color: #555;
}
.halfContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.half {
  width: 48%;
  object-fit: cover;
}
.imgBottom {
  width: 100%;
}
.imgBottom img {
  width: 100%;
}
.jpg1 {
  object-fit: cover;
}
.vision {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 45px;
}
.vTitle {
  font-size: 24px;
  color: #555;
  margin-top: 25px;
}
.vContent1 {
  margin-top: 25px;
  color: #555;
  line-height: 30px;
  font-size: 14px;
  text-align: justify;
}
.vContent2 {
  margin-top: 50px;
  color: #555;
  font-size: 14px;
  line-height: 30px;
  text-align: justify;
}
.halfArticle {
  padding-left: 45px;
}
@media (max-width: 1020px) {
  .img {
    object-fit: cover;
  }
  .halfContainer {
    flex-direction: column;
  }
  .half {
    width: 100%;
  }
  .halfArticle {
    padding-left: 0;
  }
  .vision {
    margin-right: 0;
  }
}