.container {
  position: absolute;
  top: 32px;
  transform: translateY(-50%);
  right: 30px;
  cursor: pointer;
  user-select: none;
  display: none;
}
.visible {
  display: block;
}
.img {
  user-select: none;
}