.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner {
  width: 100%;
  position: relative;
}
.img {
  border: none;
  outline: none;
  width: 100%;
  object-fit: cover; 
  height: 350px;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: row;
  max-width: 1020px;
  width: 100%;
}
.aside {
  width: 150px;
  justify-self: flex-start;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 0;
}
.nav {
  width: 110px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  color: #444;
  border: 1px solid #ddd;
  margin-top: -1px;
}
.navFixed {
  position: fixed;
  top: 0;
  height: calc(100vh - 100px);
}
.active {
  background-color: #2c8ed9;
  border-color: #2c8ed9;
  color: #fff
}
.jdContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1020px) {
  .img {
    object-fit: cover;
  }
  .section {
    width: auto;
    flex-direction: column;
  }
  .aside {
    display: none;
  }
}